#include <stdio.h>
#include <stdlib.h>
#include <stdbool.h>

int main()
{
    char myString[509];
    int length;

    printf("write a fan faction\n");
    scanf("%s" , myString);

    for(i = 0; myString[i] != '\0' ; i++)
    {
        length++;
    }

    printf("your string length is: %d" , length);
    return 0;
}
